<h2 mat-dialog-title>About</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <div class="flex-container m-t-2">
    <img src="favicon.ico" alt="" width="200">
    <div class="p-4-sm">
        <h2 class="mat-title" class="m-b-0 m-t-2">QRCode Generator</h2>
        <p class="text-muted text-sm m-t-0">v1.0 Web based</p>
    </div>
  </div>
  <div style="display: inline-flex;" class="m-t-3">
    <span class="inline-text">Made with</span>
    <mat-icon class="icon-inline">favorite</mat-icon>
    <span class="inline-text">By Muhammad Arfan</span>
  </div>
  <p class="m-t-4 text-muted text-sm">Copyright © 2021 ArphaInteractive</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
