.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.inline-text {
    margin: auto;
}

.icon-inline {
    margin: 0 5px 0 5px;
}

.text-muted {
    color: gray;
}

.text-sm {
    font-size: 0.75rem;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-t-4 {
    margin-top: 3rem;
}

.m-t-3 {
    margin-top: 2rem;
}

.m-t-2 {
    margin-top: 1rem;
}

.m-l-1 {
    margin-left: 0.5rem;
}

.p-1 {
    padding: 0.5rem;
}

.p-4 {
    padding: 3rem;
}

.p-4-sm {
    padding: 3rem;
}

@media screen and (max-width: 650px) {
    .p-4-sm {
        padding:3rem 0 3rem 0;
    }
}
